
@{
    ViewData["Title"] = "GuardarPacienteEnCola";
}

<div class="text-center">
    <h1 class="display-4">Paciente registrado correctamente</h1>
    <br />
    <h1 class="display-4">Gracias por confiar en nosotros para cuidar de su salud</h1>
    <br />
</div>

<hr />

<div class="text-center">
    <br />
    <a class="button text-white btn btn-success" asp-action="Index">Volver al menú</a>
    <br />
    <br />
    <a class="button text-white btn btn-success" asp-action="RecibirUnPaciente">Registrar un nuevo paciente</a>
    <br />
    <br />
</div>

